.carousel-item-home-bg {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    var(--accent-dark),
    var(--accent-default),
    var(--accent-light)
  );
}

.carousel-item-home {
  height: 300px;
}

.cardNav {
  border: 0 !important;
}

.cardNav-header {
  background-color: var(--accent-default) !important;
  border: 1px var(--black) !important;
  border-radius:10px 10px 0px 0px !important; /*ak ka kb bk*/
}

.listNav-group-flush {
  border-radius: 0px 0px 10px 10px !important;
}

.list-group-item:hover {
  box-shadow: 
  1px 1px 1px 1px #995900,
  1px 1px 1px 1px #3a140c;
}
