.dashboard {
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-radius: 10px 10px 0px 0px;
}

.dashboard-table {
  width: 100%;
  text-align: center;
}

.dashboard-table th,
.dashboard-table tr,
.dashboard-table td {
  border-top: 1px solid #dbdde0;
  border-bottom: 1px solid #dbdde0;
  padding: 10px 0px;
}

.dashboard-table thead tr,
.dashboard-table thead th {
  background-color: var(--gray-divider);
  border-top: 0px !important;
  height: 16px !important;
}

.dashboard-table tbody tr,
.dashboard-table tbody th {
  margin: 0px;
}

.dashboard-table tfoot tr,
.dashboard-table tfoot th {
  background-color: var(--gray-divider);
  border-top: 0px !important;
  height: 16px !important;
}


.dashboard-table tr:hover {
  cursor: pointer;
  background-color: #f4f5f4;
}

.collapse-item {
  padding: 0 !important;
  height: 0px;
  opacity: 0;
  transition: all 150ms ease-in-out;
  visibility: collapse !important;
}

.collapse-item:hover {
  background: white !important;
  cursor: default !important;
}

.collapse-item img {
  height: 160px;
  object-fit: contain;
  transition: all 150ms ease-in-out;
  opacity: 0;
}

.collapse-item.active img {
  height: 160px;
  object-fit: contain;
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.collapse-item.active {
  height: 160px;
  opacity: 1;
  transition: all 150ms ease-in-out;
  visibility: visible !important;
}

.dashboard-form-container {
  border: 1px solid #dbdde0;
  border-radius: 8px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
}

.edit-modal img {
  height: 160px;
  object-fit: contain;
}

.custom-head {
  border: 1px var(--gray-dark) ;
  color: var(--accent-light) !important;
}

.custom-head:hover {
  cursor: pointer;
  color: var(--black) !important;
}

.custom-head.active {
  color: var(--black) !important;
}

/* custom header bg */
.customhdbg {
  background-color: var(--accent-default);
  border-radius: 10px 10px 0px 0px;
} 

.customfileinputPROA {
  border-radius: 10px !important;
}

.customfileinputPROA:focus ~ .customfilelabelPROA {
  border-color: var(--accent-default) !important;
  box-shadow: none !important;
}

.customfilelabelPROA {
  height: 46px !important;
  border-radius: 10px !important;
}

.customfilelabelPROA:after {
  height: 44px !important;
  content: none !important;
  border-radius: 0 10px 10px 0 !important;
}

.pricefiltermin {
  border-radius: 0 !important;
}

.pricefiltermax {
  border-radius: 0px 0px 10px 10px !important;
}

.hovering {
  cursor: none;
}

.hovering:hover {
  cursor: pointer;
  
}